.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Lobster Two', cursive;
}

.btn {
    background-color: rgb(228, 49, 49);
    color: #fff;
    transition: .5s;
    margin-bottom: 15px;
    padding: 8px 20px;
}

.btn:hover {
    background-color: rgb(238, 81, 81);
    color: #fff;
}

.icon {
    margin-left: 12px;
}